<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleGetInfoString</key>
	<string></string>
    
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>PeekTransit needs access to your location to fetch nearby bus stops and stop schedules.</string>
    
    <key>UILaunchStoryboardName</key>
    <string>Launch Screen.storyboard</string>
</dict>
</plist>
