<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER).refresh</string>
	</array>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>MKDirectionsRequest</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.maps.directionsrequest</string>
			</array>
            <key>LSHandlerRank</key>
            <string>Alternate</string>
		</dict>
	</array>
    <key>LSSupportsOpeningDocumentsInPlace</key>
    <false/>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>CFBundleURLName</key>
	<string>com.aymanhki.PeekTransit</string>
	<key>CFBundleURLSchemes</key>
	<array>
		<string>peektransit</string>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>MKDirectionsApplicationSupportedModes</key>
	<array>
		<string>MKDirectionsModeBus</string>
	</array>
	<key>NSUserActivityTypes</key>
	<array>
		<string>ConfigurationLargeIntent</string>
		<string>ConfigurationLockscreenIntent</string>
		<string>ConfigurationMediumIntent</string>
		<string>ConfigurationSmallIntent</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Doto-VariableFont_ROND,wght.ttf</string>
		<string>Doto-Black.ttf</string>
		<string>Doto-SemiBold.ttf</string>
		<string>Doto-ExtraBold.ttf</string>
		<string>Doto_Rounded-Black.ttf</string>
		<string>LCDDot.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>location</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIImageName</key>
		<string>Launch Screen</string>
	</dict>
    <key>NSLocationUsageDescription</key>
    <string>Peek Transit needs access your location to find nearby stops.</string>
    <key>NSLocationDefaultAccuracyReduced</key>
    <true/>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>Peek Transit needs access to your location to find nearby stops.</string>
</dict>
</plist>
